# dependencies
node_modules/

# production
dist/
.build/

# local env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Vite
.cache/

# testing
coverage/

# misc
*.swp
*.tmp
*.log

# nested repo
App (copie)/
